<?xml version="1.0"?>
<config xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <router id="standard">
        <route id="Vb_SellerCode" frontName="sellercode">
            <module name="Vb_SellerCode"/>
        </route>
    </router>
</config>
